body {
    margin: 0;
    background: black;
    font-family: 'Noto Sans KR', sans-serif;
}

.header {
    border-bottom: 1px solid aqua;
   
}

.header .container{
    width: 80%;
    margin: auto;  
    display: flex;
    justify-content: space-between;
}

.titulo {
    color: rgb(143, 202, 202);
    width: fit-content;
    align-items: center;
}

.navBar {
    list-style: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    padding: 0;
    align-items: center;
    
}